In [88]:
import pandas as pd
import numpy as np

In [105]:
data = pd.read_csv("WPP2019_TotalPopulationBySex.csv")
data['PopTotal'] = data['PopTotal'].astype(float)

In [111]:
year2019= data["Time"]== 2019
year2020= data["Time"]== 2020
VariantMedium = data["Variant"]== 'Medium'
OnlyCountries = data['LocID']  < 895
data1 = pd.DataFrame(data[['LocID','Location','PopTotal']][VariantMedium & year2019 & OnlyCountries]).sort_values(by = 'LocID')
data1 = data1.reset_index()
data1['PopTotal'] = data1['PopTotal'] * 1000 
data1['PopTotal'] = data1['PopTotal'].astype(int)
data2['PopTotal'] = data2['PopTotal'] *1000
data2['PopTotal'] = data2['PopTotal'].astype(int)
data2 = data[['Location','PopTotal']][VariantMedium & year2020 & OnlyCountries]

In [117]:
data2

                                  Location    PopTotal
70                             Afghanistan   38928.341
3046                               Albania    2877.800
3930                               Algeria   43851.043
4814                        American Samoa      55.197
5849                               Andorra      77.265
6733                                Angola   32866.268
7617                              Anguilla      15.002
8501                   Antigua and Barbuda      97.928
9385                             Argentina   45195.777
10269                              Armenia    2963.234
11153                                Aruba     106.766
13374                            Australia   25499.881
15142                              Austria    9006.400
16026                           Azerbaijan   10139.175
17212                              Bahamas     393.248
18096                              Bahrain    1701.583
18980                           Bangladesh  164689.383
19864                             Barbados     287.371
20748                              Belarus    9449.321
21632                              Belgium   11589.616
22516                               Belize     397.621
24306                                Benin   12123.198
25190                              Bermuda      62.273
26074                               Bhutan     771.612
27260     Bolivia (Plurinational State of)   11673.029
28144     Bonaire, Sint Eustatius and Saba      26.221
29028               Bosnia and Herzegovina    3280.815
29912                             Botswana    2351.625
30796                               Brazil  212559.409
31680               British Virgin Islands      30.237
...                                    ...         ...
242059                Syrian Arab Republic   17500.657
242943                          Tajikistan    9537.642
243827                            Thailand   69799.978
244711                         Timor-Leste    1318.442
245595                                Togo    8278.737
246479                             Tokelau       1.350
247363                               Tonga     105.697
248247                 Trinidad and Tobago    1399.491
249131                             Tunisia   11818.618
250015                              Turkey   84339.067
250899                        Turkmenistan    6031.187
251783            Turks and Caicos Islands      38.718
252667                              Tuvalu      11.792
258232                              Uganda   45741.000
259116                             Ukraine   43733.759
260000                United Arab Emirates    9890.400
260884                      United Kingdom   67886.004
262523         United Republic of Tanzania   59734.213
263407        United States Virgin Islands     104.423
264291            United States of America  331002.647
266210                             Uruguay    3473.727
267094                          Uzbekistan   33469.199
267978                             Vanuatu     307.150
268862  Venezuela (Bolivarian Republic of)   28435.943
269746                            Viet Nam   97338.583
272593           Wallis and Futuna Islands      11.246
276431                      Western Sahara     597.330
278350                               Yemen   29825.968
279234                              Zambia   18383.956
280118                            Zimbabwe   14862.927

[235 rows x 2 columns]

In [114]:
dataMerged = data1.merge(data2, left_on='Location', right_on='Location')

In [115]:
dataMerged.rename(columns={"PopTotal_x": "pop2019", "PopTotal_y": "pop2020"})
dataMerged2 = dataMerged.drop(['index', 'LocID'], axis=1).rename(columns={"PopTotal_x": "pop2019", "PopTotal_y": "pop2020"})

In [116]:
dataMerged2

                               Location    pop2019     pop2020
0                           Afghanistan   38041757   38928.341
1                               Albania    2880913    2877.800
2                               Algeria   43053054   43851.043
3                        American Samoa      55312      55.197
4                               Andorra      77146      77.265
5                                Angola   31825299   32866.268
6                   Antigua and Barbuda      97115      97.928
7                            Azerbaijan   10047719   10139.175
8                             Argentina   44780675   45195.777
9                             Australia   25203200   25499.881
10                              Austria    8955108    9006.400
11                              Bahamas     389486     393.248
12                              Bahrain    1641164    1701.583
13                           Bangladesh  163046173  164689.383
14                              Armenia    2957728    2963.234
15                             Barbados     287020     287.371
16                              Belgium   11539326   11589.616
17                              Bermuda      62508      62.273
18                               Bhutan     763093     771.612
19     Bolivia (Plurinational State of)   11513101   11673.029
20               Bosnia and Herzegovina    3300998    3280.815
21                             Botswana    2303703    2351.625
22                               Brazil  211049518  212559.409
23                               Belize     390351     397.621
24                      Solomon Islands     669821     686.878
25               British Virgin Islands      30033      30.237
26                    Brunei Darussalam     433296     437.483
27                             Bulgaria    7000116    6948.445
28                              Myanmar   54045422   54409.794
29                              Burundi   11530577   11890.781
..                                  ...        ...         ...
205                          Tajikistan    9321023    9537.642
206                            Thailand   69625580   69799.978
207                                Togo    8082359    8278.737
208                             Tokelau       1330       1.350
209                               Tonga     104497     105.697
210                 Trinidad and Tobago    1394969    1399.491
211                United Arab Emirates    9770526    9890.400
212                             Tunisia   11694721   11818.618
213                              Turkey   83429607   84339.067
214                        Turkmenistan    5942094    6031.187
215            Turks and Caicos Islands      38194      38.718
216                              Tuvalu      11655      11.792
217                              Uganda   44269587   45741.000
218                             Ukraine   43993643   43733.759
219                     North Macedonia    2083458    2083.380
220                               Egypt  100388076  102334.403
221                      United Kingdom   67530161   67886.004
222                     Channel Islands     172264     173.859
223                         Isle of Man      84589      85.032
224         United Republic of Tanzania   58005460   59734.213
225            United States of America  329064917  331002.647
226        United States Virgin Islands     104579     104.423
227                        Burkina Faso   20321383   20903.278
228                             Uruguay    3461731    3473.727
229                          Uzbekistan   32981714   33469.199
230  Venezuela (Bolivarian Republic of)   28515828   28435.943
231           Wallis and Futuna Islands      11436      11.246
232                               Samoa     197093     198.410
233                               Yemen   29161922   29825.968
234                              Zambia   17861034   18383.956

[235 rows x 3 columns]

In [40]:
dataMerged2.to_csv(r'C:\Users\sshah\Desktop\live-data-streamining\countries2019-2020.csv', index = False)

until 895 = Countries . 
900 = World

In [36]:
year2019= data1["Time"]== 2019
VariantMedium = data1["Variant"]== 'Medium'
OnlyCountries = data1['LocID']  < 895
data2019 = pd.DataFrame(data1[['index','Location','Time','PopTotal']][year2019]).reset_index()
year2020= data1["Time"]== 2020
data2020 =  pd.DataFrame(data1[['index','Time','PopTotal']][year2020]).reset_index()

In [35]:
dataMerged2

                               Location  PopTotal_x  PopTotal_y
0                           Afghanistan   38041.757   38928.341
1                               Albania    2880.913    2877.800
2                               Algeria   43053.054   43851.043
3                        American Samoa      55.312      55.197
4                               Andorra      77.146      77.265
5                                Angola   31825.299   32866.268
6                   Antigua and Barbuda      97.115      97.928
7                            Azerbaijan   10047.719   10139.175
8                             Argentina   44780.675   45195.777
9                             Australia   25203.200   25499.881
10                              Austria    8955.108    9006.400
11                              Bahamas     389.486     393.248
12                              Bahrain    1641.164    1701.583
13                           Bangladesh  163046.173  164689.383
14                              Armenia    2957.728    2963.234
15                             Barbados     287.021     287.371
16                              Belgium   11539.326   11589.616
17                              Bermuda      62.508      62.273
18                               Bhutan     763.094     771.612
19     Bolivia (Plurinational State of)   11513.102   11673.029
20               Bosnia and Herzegovina    3300.998    3280.815
21                             Botswana    2303.703    2351.625
22                               Brazil  211049.519  212559.409
23                               Belize     390.351     397.621
24                      Solomon Islands     669.821     686.878
25               British Virgin Islands      30.033      30.237
26                    Brunei Darussalam     433.296     437.483
27                             Bulgaria    7000.117    6948.445
28                              Myanmar   54045.422   54409.794
29                              Burundi   11530.577   11890.781
..                                  ...         ...         ...
205                          Tajikistan    9321.023    9537.642
206                            Thailand   69625.581   69799.978
207                                Togo    8082.359    8278.737
208                             Tokelau       1.330       1.350
209                               Tonga     104.497     105.697
210                 Trinidad and Tobago    1394.969    1399.491
211                United Arab Emirates    9770.526    9890.400
212                             Tunisia   11694.721   11818.618
213                              Turkey   83429.607   84339.067
214                        Turkmenistan    5942.094    6031.187
215            Turks and Caicos Islands      38.194      38.718
216                              Tuvalu      11.655      11.792
217                              Uganda   44269.587   45741.000
218                             Ukraine   43993.643   43733.759
219                     North Macedonia    2083.458    2083.380
220                               Egypt  100388.076  102334.403
221                      United Kingdom   67530.161   67886.004
222                     Channel Islands     172.264     173.859
223                         Isle of Man      84.589      85.032
224         United Republic of Tanzania   58005.461   59734.213
225            United States of America  329064.917  331002.647
226        United States Virgin Islands     104.579     104.423
227                        Burkina Faso   20321.383   20903.278
228                             Uruguay    3461.731    3473.727
229                          Uzbekistan   32981.715   33469.199
230  Venezuela (Bolivarian Republic of)   28515.829   28435.943
231           Wallis and Futuna Islands      11.436      11.246
232                               Samoa     197.093     198.410
233                               Yemen   29161.922   29825.968
234                              Zambia   17861.034   18383.956

[235 rows x 3 columns]

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
455    False
456    False
457    False
458    False
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
Name: LocID, Length: 477, dtype: bool