In [45]:
import pandas as pd
import numpy as np

In [46]:
data = pd.read_csv('populationAllData.csv')
df = pd.DataFrame(data)
#df = df[0:234] #remove the last row which is the total world
df

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486
...,...,...,...,...,...,...,...,...,...,...
280927,716,Zimbabwe,207,Lower 95 PI,2080,2080.5,10576.533,11255.983,21836.893,56.448
280928,716,Zimbabwe,207,Lower 95 PI,2085,2085.5,10293.349,11050.875,21355.988,55.205
280929,716,Zimbabwe,207,Lower 95 PI,2090,2090.5,9920.336,10767.709,20689.956,53.483
280930,716,Zimbabwe,207,Lower 95 PI,2095,2095.5,9503.711,10412.184,19892.080,51.421
280931,716,Zimbabwe,207,Lower 95 PI,2100,2100.5,9090.075,9996.105,19061.177,49.273

In [54]:
VariantMedium = df["Variant"]== 'Medium'
China = df["Location"] == 'China'
India = df["Location"] == 'India'
timeWindow = df["Time"] >= 2026 
timeWindow2 = df["Time"] <= 2027 
data4 = pd.DataFrame(df[['LocID','Location','Time','PopTotal']][VariantMedium & timeWindow & timeWindow2 & (China | India)]).sort_values(by = 'LocID').reset_index()
data4['PopTotal'] = data4['PopTotal'] * 1000 
data4['PopTotal'] = data4['PopTotal'].astype(int)
data4

    index  LocID Location  Time    PopTotal
0   47900    156    China  2026  1460092251
1   47901    156    China  2027  1461797638
2  115952    356    India  2026  1457308849
3  115953    356    India  2027  1469338564

In [33]:
year2019= df["Time"]== 2019
year2020= df["Time"]== 2020
VariantMedium = df["Variant"]== 'Medium'
China = df["Location"] == 'China'
India = df["Location"] == 'India'
data2019 = pd.DataFrame(df[['LocID','Location','PopTotal','PopMale','PopFemale']][VariantMedium & year2019        & (China | India)]).sort_values(by = 'LocID').reset_index()
data2019['PopTotal'] = data2019['PopTotal'] * 1000 
data2019['PopTotal'] = data2019['PopTotal'].astype(int)
data2019['PopMale'] = data2019['PopMale'] * 1000 
data2019['PopMale'] = data2019['PopMale'].astype(int)
data2019['PopFemale'] = data2019['PopFemale'] * 1000 
data2019['PopFemale'] = data2019['PopFemale'].astype(int)
data2019

    index  LocID Location    PopTotal    PopMale  PopFemale
0   47893    156    China  1433783691  735624259  698159433
1  115945    356    India  1366417756  710129572  656288184

In [34]:
data2020 = pd.DataFrame(df[['LocID','Location','PopTotal','PopMale','PopFemale']][VariantMedium & year2020        & (China | India)]).sort_values(by = 'LocID').reset_index()
data2020['PopTotal'] = data2020['PopTotal'] * 1000 
data2020['PopTotal'] = data2020['PopTotal'].astype(int)
data2020['PopMale'] = data2020['PopMale'] * 1000 
data2020['PopMale'] = data2020['PopMale'].astype(int)
data2020['PopFemale'] = data2020['PopFemale'] * 1000 
data2020['PopFemale'] = data2020['PopFemale'].astype(int)
data2020

    index  LocID Location    PopTotal    PopMale  PopFemale
0   47894    156    China  1439323774  738247340  701076434
1  115946    356    India  1380004385  717100970  662903415

In [35]:
dataMerged = data2019.merge(data2020, left_on='Location', right_on='Location')
dataMerged

,index_x,LocID_x,Location,PopTotal_x,PopMale_x,PopFemale_x,index_y,LocID_y,PopTotal_y,PopMale_y,PopFemale_y
0,47893,156,China,1433783691,735624259,698159433,47894,156,1439323774,738247340,701076434
1,115945,356,India,1366417756,710129572,656288184,115946,356,1380004385,717100970,662903415

In [39]:
dataMerged2 = dataMerged.drop(['index_x', 'LocID_x','index_y', 'LocID_y'], axis=1).rename(columns={"PopTotal_x": "pop2019", "PopTotal_y": "pop2020", "PopMale_x": "Male2019", "PopMale_y": "Male2020", "PopFemale_x": "Female2019", "PopFemale_y": "Female2020"})
dataMerged2

,Location,pop2019,Male2019,Female2019,pop2020,Male2020,Female2020
0,China,1433783691,735624259,698159433,1439323774,738247340,701076434
1,India,1366417756,710129572,656288184,1380004385,717100970,662903415

In [40]:
dataMerged2.to_csv(r'C:\Users\sshah\Desktop\World-Population\static\ChinaIndia2019-2020.csv', index = False)